/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*-----------------------------*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: rgba(20, 20 ,20, .6);
    border: 1px rgba(20, 20 ,20, .6) solid;
    padding: 0px 20px;
    width: 100%;
    z-index: 1;
    color: white;
    height: 54px;
    backdrop-filter: blur(5px);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.header-title h1 {
    position: absolute;
    display: inline-block;
    margin-left: 42px;
    top: 10px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
h5{
    font-weight: 600;
    margin-top: 4px;
}
h6, .edit-entity-form label{
    font-size: 12px;
}
.landing-page span{
    font-weight: 900;
}
.landing-page h1{
    margin-bottom: 8px;
}
.landing-page>p{
    margin-top: 4px;
}
.landing-page-buttons{
    margin-top: 10px;
}
.landing-page-buttons button{
    display: inline-block;
}

.entity-info .name-and-user{
    display: flex;
    justify-content: space-between;
}
.entity-info .description{
    margin: 6px 0;
}
.info-box{
    border-top: rgba(255, 255, 255, .6) 1px solid;
}
.display-buttons{
    width: 100%;
    text-align: center;
}

button{
    border: solid white 1px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.2s;
    display: block;
    cursor: pointer;
    margin: 4px;
    padding: 3px 6px;
}
button.load-entities{
    margin-top: 30px;
}
.toolbar button{
    background-color: rgba(20, 20 ,20, .6);
    backdrop-filter: blur(5px);
}
label {
    display: block;
}
label.stay-signed-in{
    display: inline-block;
}
input, textarea {
    margin: 4px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, .8) 1px;
    border-radius: 5px;
    color: white;
}
.tooltip:hover button{
    background-color: rgba(100, 149, 237, .3)
}
.tooltip:hover button.disabled{
    background-color: rgba(20, 20 ,20, .6);
}
button:hover{
    background-color: rgba(100, 149, 237, .3)
}
.map-container{
    height: 300px;
    width: 100%;
    z-index: -1;
}
.cesium-widget{
    height: 100vh;
}
.logo {
    height: 40px;
    position: absolute;
    top: 3px;
}
.page-backdrop{
    position: absolute;
    top: 54px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20 ,20, .6);
    backdrop-filter: blur(5px);
    padding: 5% 5%;
    color: white;
    text-align: center;
}
.icon{
    height: 18px;
    width: 18px;
}
button.selected{
    background-color: rgb(100, 149, 237) !important;
}
button.disabled{
    color: grey;
    border-color: grey;
}
button.disabled img {
    filter: brightness(30%);
}
button.disabled:hover{
    background-color: transparent;
}
button.disabled.toolbar-button:hover{
    background-color: rgba(20, 20 ,20, .6);
}
.display-buttons button{
    display: inline-block;
    margin-left: 0px;
    margin-right: 6px;
}
.account-nav{
    display: flex;
    margin-top: 10px;
}
.header-title {
    cursor: pointer;
}
.waypoint{
    height: 20px;
}
.toolbar{
    position: absolute;
    top: 61px;
    left: 21px;
}
.login-form, .signup-form{
   display: inline-block;
   text-align: left;
}
.validation-error{
    width: 130px;
}
.error{
    font-size: 10px;
    color: red;
    width: 130px;
}
.message-container{
    color: white;
    position: absolute;
    top: 34px;
    transition: opacity 2s linear;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    font-size: 12px;
    text-align: center;
}
.message.visible{
    opacity: 1;
    transition: .7s linear;
}
.message.hidden{
    opacity: 0;
    transition: .7s linear;
}
.display{
    color: white;
    border: solid rgba(255, 255, 255, .8) 1px;
    border-radius: 5px;
    background-color: rgba(20, 20 ,20, .6);
    backdrop-filter: blur(5px);
    padding: 10px;
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    opacity: 1;
    transition: opacity 2s linear;
}
.display *{
    color: white;
}
.display input#name{
    width: 50%;
    max-width: 250px;
}
.display textarea#description{
    width: 90%;
    height: 50px;
}
.edit-entity-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.edit-entity-form *{
    display: block;
}
.edit-entity-form button{
    display: inline-block;
}

textarea#description{
    height: 80px;
    width: 250px;
    resize: none;

}
.toolbar-button{
    height: 32px;
    width: 32px;
    padding-top: 5px;
}
.cesium-viewer-toolbar{
    margin-top: 60px;
}
.cesium-geocoder-input{
    border-radius: 4px !important; 
    height: 32px !important;
    border: solid 1px white !important;
    padding-right: 30px !important;
    background-color: rgba(20, 20, 20, .6) !important;
    backdrop-filter: blur(5px) !important;
}
.cesium-geocoder-searchButton{
    background-color: transparent;
    height: 20px !important;
    margin-top: 4px;
    border-radius: 4px !important;
    background-color: transparent !important;
}
.cesium-viewer-geocoderContainer{
    margin-right: 20px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: block;
  }
  
  /* Tooltip text */
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: transparent;
    color: white;
    padding: 5px 40px;
    font-size: 12px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltip-text {
    cursor: pointer;
    visibility: visible;
  }
  

@media only screen and (max-width: 500px) {
    .display {
        width: 85%;
        bottom: 34px;
    }
    .form-display {
        height: 45%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;    
    }
    .message-container{
        font-size: 10px;
        top: 38px;
    }
}