/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*-----------------------------*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: rgba(20, 20 ,20, .7);
    border-bottom: 1px black solid;
    padding: 0px 20px;
    width: 100%;
    z-index: 1;
    color: white;
}

h1 { 
    margin-left: 6px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
button{
    border: solid rgba(255, 255, 255, .8) 1px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.2s;
    display: block;
    cursor: pointer;
    margin: 4px;
    padding: 3px 6px;
}
.toolbar button{
    background-color: rgba(20, 20 ,20, .7)
}
input {
    margin: 4px;
}
button:hover{
    background-color: rgba(100, 149, 237, .3)
}
.map-container{
    height: 300px;
    width: 100%;
    z-index: -1;
}
.cesium-widget{
    height: 100vh;
}
.logo {
    height: 40px;
}
button.selected{
    background-color: rgb(100, 149, 237);
}
button.disabled{
    color: grey;
    border-color: grey;
}
button.disabled:hover{
    background-color: transparent;
}
.account-nav{
    display: flex;
    margin-top: 8px;
}
.title {
    cursor: pointer;
}
.waypoint{
    height: 20px;
}
.toolbar{
    position: absolute;
    top: 100px;
    left: 20px;
}
.display{
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    background-color: rgba(20, 20 ,20, .7);
    padding: 10px;
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    opacity: 1;
    transition: opacity 2s linear;
}
.display *{
    color: white;
}
.display input, textarea{
    background-color: transparent;
    border: solid rgba(255, 255, 255, .8) 1px;
    border-radius: 5px;
}
.edit-entity-form{
    display: flex;
    flex-wrap: wrap;
}
.edit-entity-form *{
    display: block;
}

textarea#description{
    height: 80px;
    width: 250px;
    resize: none;

}
.cesium-viewer-toolbar{
    margin-top: 60px;
}
.cesium-geocoder-searchButton{
    background-color: transparent;
}
.cesium-viewer-geocoderContainer{
    margin-right: 20px;
}
.login-form, .signup-form{
    padding-top: 60px;
}

@media only screen and (max-width: 500px) {
    .display {
        width: 85%;
    }
    .toolbar {
        top: 60px;
    }
}